.battleInfo {
	padding: 15px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #C0C0C0;
	font-size: 14px;
	background: #FFFFFF;
}

.rightInfo,
.leftInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1;
}

.leftInfo {
	border-right: 1px solid #C0C0C0;
}

.money {
	color: #FF5053;
}

.time {
	background: #000000;
	border-radius: 5px;
	width: 50px;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}

.result {
	position: relative;
	background: #FFFFFF;
	font-size: 12px;
	text-align: center;
	padding: 10px;
	display: block;
}

.number {
	color: cornflowerblue;
}

.resultNum {
	display: inline-block;
	color: #FFFFFF;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background: #6495ED;
}

.resultSum {
	background: #FF0000;
}

.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	align-items: center;
	z-index: 999;
	width: 100%;
}

.footer>input {
	height: 32px;
	padding: 0;
	margin: 0;
}

#picture {
	border-top: 2px solid #007AFF;
	position: fixed;
	bottom: 33px;
	width: 100%;
	background: #FFFFFF;
}

.panel {
	display: flex;
	border-top: 0.51px solid #F3F3F3;
}

.panelTitle {
	padding: 10px;
	font-size: 16px;
	text-align: center;
}

.panel>.panelLeft {
	min-height: 225px;
	width: 100px;
	font-size: 15px;
	flex-shrink: 0;
	border-right: 0.51px solid #F3F3F3;
}

.chooseItem {
	color: #CCCCCC;
	display: block;
	padding: 10px 0 10px 10px;
	border-bottom: 0.51px solid #F3F3F3;
}

.chooseItemActive {
	color: #007AFF;
	border-left: #007AFF solid 3px;
}

.chooseItemActive:after {
	display: inline-block;
	content: '>';
	height: 10px;
	width: 10px;
	margin-left: 10px;
	color: #007AFF;
}

.panelRight {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.panelItem {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	font-size: 14px;
	color: #C7C7CC;
	margin-bottom: 10px;
	padding: 5px 10px;
	box-sizing: border-box;
	width: calc(50% - 10px);
	flex-shrink: 0;
	background: #F3F3F3;
	border-radius: 10px;
	text-align: center;
}
.panelItemActive {
	background: #007AFF;
	color: #FFFFFF;
}
.moneyChoose {
	background: #F3F3F3;
	padding: 10px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	font-size: 13px;
	justify-content: space-between;
}
.moneyItem {
	cursor: pointer;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 50%;
	text-align: center;
	background: rgba(30,144, 255, 0.2);
}
.moneyItemActive {
	background: rgba(30,144, 255, 1);
}
.historyItem > th, .historyItem > td {
	text-align: center;
}
.historyPos {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	z-index: 88;
}
.personInfo {
	display: flex;
	padding: 14px;
}
.avatar {
	height: 50px;
	width: 50px;
	border-radius: 50%;
}
.accountInfo {
	display: flex;
	flex-direction: column;

}
.betInfo {
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 200px;
	margin: 0 17px;
	background-color: #FFFFFF;
	border-bottom-color: #FFFFFF;/*为了给after伪元素自动继承*/
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	padding: 5px 12px 5px 12px;
	box-sizing: border-box;
	border-radius: 6px;
	position: relative;
	word-break: break-all;
}
.betInfo::after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	left: -14px;
	top: 0px;
	border-width: 0 10px 10px 0;
	border-style: solid;
	border-right-color: transparent;
	border-bottom-color:inherit;
	border-bottom-left-radius: 60px;
}

.nickName, .betTile, .betMoney {
	display: flex;
	align-items: center;
	line-height: 30px;
	justify-content: space-between;
}
.nickName {
	margin-left: 18px;
	color: #20abff;
	font-size: 13px;
}
.betMoney {
	background: #f7f7f7;
	padding: 0 6px;
	border-radius: 6px;
}
