.dateTime {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}
.time {
    margin: 0 10px;
}

table {
    background-color: #888686;
    width: 100%;
    font-size: 13px;
}
td, th {
    text-align: center;
    color: #ffffff;
}

th {
    font-size: 15px;
}
