.mui-content {
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.title {
    flex: 1;
    text-align: center;
}
.add {
	display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(136, 134, 134, 0.6);
    font-size: 15px;
    color: #ffffff;
    border-radius: 15px;
    margin: 35px auto 40px;
}

.input {
    display: flex;
    color: #FB3A44;
    font-size: 14px;
    align-items: center;
    border-bottom: 1px solid #F85B2C;
    padding: 0 0 5px;
}

.input > input {
    margin: 0;
    padding: 0 0 0 5px;
    flex: 1;
    border: none;
    background: transparent;
}

::-webkit-input-placeholder {
    color: #888686;
    font-size: 20px;
}

.balance {
    margin: 10px auto 30px;
    color: #FB3A44;
    font-size: 14px;
}

.btn-gradient {
    width: 305px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: linear-gradient(to right, #FB3A44, #F85B2C);
    border-radius: 23px;
    color: #ffffff;
    font-size: 19px;
    margin: auto;
}
