.roomItem {
    align-items: center;
    justify-content: space-between;
    animation: typing 1s;
    display: flex;
    padding: 15px;
    color: #000;
    border-bottom: 1px solid #C0C0C0;
}
.leftContain {
    display: flex;
}
.roomItem  img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.roomName {
    font-size: 20px;
    color: #000000;
    font-weight: 700;
}

@keyframes typing {
    from {
        transform: scale(0.1) rotate(-145deg);

    }
    to {
       transform: scale(1) rotate(-360deg);;
    }
}
.desc {
    font-size: 12px;
    color: #c0c0c0;
}
.footerTips {
    color: #c0c0c0;
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
