<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link href="../css/mui.css" rel="stylesheet"/>
    <link href="../css/room.css" rel="stylesheet"/>
    <style>
        html,body,.roomList {
            height: 100%;
        }
    </style>
</head>

<body>
<header class="mui-bar mui-bar-nav setHeader">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <div class="headerInfo">
        <div>NG加拿大28</div>
        <div class="number">有715人在玩</div>
    </div>
    <img class="setting" src="../images/battle/battle_1.png"/>
</header>
<div class="roomList mui-content">
    <div class="roomItem" v-for="item in roomData">
        <div class="leftContain" @click="openBattle(item.gameId, item.roomId)">
            <img src="../images/home_7.png">
            <div class="info">
                <div class="roomName" v-text="item.name">
                    NG加拿大2.8
                </div>
                <div v-text="item.remark">
                    一下之间: 大,单：5
                </div>
            </div>
        </div>
        <div class="desc" @click="showRule(item)">
            赔率说明
        </div>
    </div>
    <div class="footerTips">
        加拿大28，根据开奖结果,游戏时间9：00-3：55，每五分钟一期
    </div>
    <div id="odds" style="padding: 20px 30px;display: none;max-height: 200px;">
        <div v-for="item in ruleList">
            <div v-for="l in item.list">
                <span>买{{l.key}},</span>
                <span>赔率为{{l.proportion}}(含本金)</span>
            </div>
        </div>
    </div>

</div>
<script src="../js/mui.js"></script>
<script src="../js/vue.js"></script>
<script src="../js/utils.js"></script>
<script type="text/javascript" src="../js/jquery.js"></script>
<script type="text/javascript" src="../js/layer/layer.js"></script>
<script type="text/javascript">
    //			mui.plusReady(function() {
    //				const webview =  plus.webview.currentWebview();
    var app = new Vue({
        el: '.roomList',
        data: {
            roomData: [],
            desc: '',
            ruleList: []
        },
        mounted: function () {
            httpRequest({
                url: 'api/room?gameId=1'
            }).then(res => {
                console.log(res);
                this.roomData = res.data;

            })
        },
        methods: {
            openBattle: function (gameId, roomId) {
                mui.openWindow({
                    url: 'battle.html',
                    extras: {
                        roomId,
                        gameId
                    }
                })
            },
            showRule(item) {
                this.ruleList = item.ruleList;
                layer.open({
                    title: '赔率说明',
                    type: 1,
                    content: $("#odds"),
                    btn: '我已知晓',
                    btnAlign: 'c', //按钮居中,
                    shade: 0.4, //不显示遮罩,
                    yes: function () {
                        layer.closeAll();
                    }
                });
            }
        }
    })
    //			})
    //			document.querySelector('.roomItem').addEventListener('tap', function() {
    //				mui.openWindow({
    //					url: 'battle.html'
    //				})
    //			})
</script>
</body>

</html>
